# Ignore all hidden files exept these.
.*
!/.circleci
!/.github
!/.gitignore
!/.gitattributes
!/.editorconfig
!.gitkeep

# Other ignored paths and files.
/*.php
/*.xml
/*.log
!/.php_cs.dist
!/psalm.xml.dist
!/phpunit.xml.dist
/vendor
/composer.lock
/report

# OS specific files.
Thumbs.db
