# Ignore all hidden files except these.
.*
!/.github
!/.gitignore
!/.gitattributes
!/.editorconfig
!/.travis.yml
!.gitkeep

# Other ignored paths and files.
/*.php
/*.xml
/*.log
!/.php-cs-fixer.dist.php
!/psalm.xml.dist
!/phpunit.xml.dist
/vendor
/composer.lock
/report

# OS specific files.
Thumbs.db
