<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.4/phpunit.xsd"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Apigee Edge PHP SDK Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
