<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2018 Google LLC
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      https://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.4/phpunit.xsd"
         colors="true"
         bootstrap="./vendor/autoload.php"
         printerClass="LimeDeck\Testing\Printer"
         verbose="true">
    <php>
        <!--  Apigee Edge credentials - uncomment and change these lines to change to an online test.  -->
        <!--
        <env name="APIGEE_EDGE_PHP_CLIENT_API_CLIENT" value="\Apigee\Edge\Tests\Test\Client"/>
        <env name="APIGEE_EDGE_PHP_CLIENT_HTTP_CLIENT" value="\Http\Adapter\Guzzle6\Client"/>
        <env name="APIGEE_EDGE_PHP_CLIENT_ORGANIZATION" value="myorg"/>
        <env name="APIGEE_EDGE_PHP_CLIENT_BASIC_AUTH_USER" value="myuser@example.com"/>
        <env name="APIGEE_EDGE_PHP_CLIENT_BASIC_AUTH_PASSWORD" value="secret"/>
        <env name="APIGEE_EDGE_PHP_CLIENT_ENVIRONMENT" value="prod"/>
        <env name="APIGEE_EDGE_ENDPOINT" value="https://api.enterprise.apigee.com/v1"/>
        -->
    </php>
    <testsuites>
        <testsuite name="All Apigee Edge PHP API Client Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
