# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2
jobs:
  php73:
    docker:
      - image: cimg/php:7.3-node
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}-7.3

      - run:
          name: Set composer variables
          command: |
            COMPOSER_OPTIONS="--no-suggest --no-interaction"
            COMPOSER_PROCESS_TIMEOUT=0
            DEPENDENCIES=" "

      - run:
          name: Update composer
          command: composer update $COMPOSER_OPTIONS

      - run:
          name: Install polyfill-mbstring for PHP 7.3
          command: composer require symfony/polyfill-mbstring:1.19.0 --update-with-dependencies;

      - run:
          name: Install guzzle:^6.3.0
          command: composer require guzzlehttp/guzzle:^6.3.0 --update-with-dependencies $DEPENDENCIES

      - run: composer show

      - run:
          name: Check style for only changed files
          command: |
            IFS=$'\n'; CHANGED_FILES=($(git diff --name-only --diff-filter=ACMRTUXB --"${COMMIT_RANGE}")); unset IFS
            EXTRA_ARGS=('--path-mode=intersection' '--' "${CHANGED_FILES[@]}")
            composer check-style -- --using-cache=no "${EXTRA_ARGS[@]}"

      - run: composer analyze
      - run: composer test -- --coverage-clover=clover.xml
      - run: composer metrics
      - run: |
            sudo docker-php-ext-enable xdebug
            ./cc-test-reporter before-build
            sudo vendor/bin/phpunit --coverage-clover clover.xml
            ./cc-test-reporter after-build --coverage-input-type clover --exit-code $?

  php74:
    docker:
      - image: cimg/php:7.4-node
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "composer.json" }}-7.4
      - run:
          name: Set composer variables
          command: |
            COMPOSER_OPTIONS="--no-suggest --no-interaction"
            COMPOSER_PROCESS_TIMEOUT=0
            DEPENDENCIES="--prefer-lowest"

      - run:
          name: Update composer
          command: composer update $COMPOSER_OPTIONS

      - run:
          name: Install guzzle:^6.3.0
          command: composer require guzzlehttp/guzzle:^6.3.0 --update-with-dependencies $DEPENDENCIES

      - run: composer show

      - run:
          name: Check only changed files
          command: |
            IFS=$'\n'; CHANGED_FILES=($(git diff --name-only --diff-filter=ACMRTUXB --"${COMMIT_RANGE}")); unset IFS
            EXTRA_ARGS=('--path-mode=intersection' '--' "${CHANGED_FILES[@]}")
            composer check-style -- --using-cache=no "${EXTRA_ARGS[@]}"

      - run: composer analyze
      - run: composer test -- --coverage-clover=clover.xml
      - run: composer metrics
      - run: bash <(curl -s https://codecov.io/bash) -f ./clover.xml
      - run:
          name: "Run tests"
          command: phpdbg -d memory_limit=-1 -qrr vendor/bin/phpunit --coverage-html build/coverage-report
      - store_artifacts:
          path:  build/coverage-report
      - codecov/upload:
          file: './coverage/clover.xml'
          token: 7c28a9eb-e84a-4625-9c47-6599d9f49956

workflows:
  test_and_lint:
    jobs:
      - php74
      - php73