# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2.1
executors:
  my-custom-executor:
    docker:
      - image: cimg/php:7.4-node
      - image: cimg/php:7.3-node
jobs:
  php74:
    executor: my-custom-executor
    steps:
      - checkout
      - run: COMPOSER_OPTIONS="--no-suggest --no-interaction"
      - run: COMPOSER_PROCESS_TIMEOUT=0
      - run: DEPENDENCIES=" "
      - run: composer update $COMPOSER_OPTIONS
      - run: composer require guzzlehttp/guzzle:^6.3.0 --update-with-dependencies $DEPENDENCIES
      - run: composer show

      - run: IFS=$'\n'; CHANGED_FILES=($(git diff --name-only --diff-filter=ACMRTUXB --"${COMMIT_RANGE}")); unset IFS
      - run: EXTRA_ARGS=('--path-mode=intersection' '--' "${CHANGED_FILES[@]}")
      - run: composer check-style -- --using-cache=no "${EXTRA_ARGS[@]}"
      - run: composer analyze
      - run: composer test -- --coverage-clover=clover.xml
      - run: composer metrics
      - run: bash <(curl -s https://codecov.io/bash) -f ./clover.xml
      - run:
          name: "Run tests"
          command: phpdbg -d memory_limit=-1 -qrr vendor/bin/phpunit --coverage-html build/coverage-report
      - store_test_results:
          path: build/coverage-report
      - store_artifacts:
          path:  build/coverage-report

workflows:
  my-custom-workflow:
    jobs:
      - php74